<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/image/wether__logo.png" type="image/x-icon">
    <title>About</title>
</head>
<body>
    <div class="common__content about__page">
        <div class="container">
    {{>header}}
    <div class="body">
    <img src={{src}}>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, dignissimos repellat similique quasi tempore odio, nam illo ad placeat assumenda ipsum asperiores. Dolorum eum aspernatur alias eveniet unde explicabo soluta dolorem, recusandae voluptates quis quam ea nobis nemo similique minima itaque totam earum, magni ex? Cum nemo eius amet minus porro debitis eos impedit modi iusto explicabo voluptatum placeat asperiores ipsa doloremque corporis perspiciatis natus illo nihil, nobis velit cupiditate praesentium vero! Error reprehenderit odit perspiciatis esse saepe ratione, quam vitae iusto voluptatum illum dolores dolore quos itaque rem in obcaecati hic maxime dolor cumque rerum. Maxime beatae qui cupiditate!
        lorem777
    </p>
    </div>
    {{>footer}}
    </div>
    </div>
</body>
</html>