<header class="header__content">

<h1 class="header__content">{{title}}</h1>

<ul class="header__links">
    <li><a href="/">Wether</a></li>
    <li><a href="/about">About us</a></li>
    <li><a href="/help">Help</a></li>
</ul>
</header>
